<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          대표전화: {{ site.telephone_number }} <br>
          <!-- Fax: {{ site.fax_number }} <br> -->
          이메일: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-6">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> About</a></p>
        <p><a href="/video/1/"> News & Media</a></p>
        <p><a href="/team"> Team</a></p>
        <p><a href="/contact"> Contact</a></p> 
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; 2017 NextDoor, Inc. All rights reserved. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>