<!-- Header -->
<script>
  $(document).ready(function(){
    $(obj).parent().addClass("active");
    let loc = location.href;
    if(loc.indexOf("about") > -1){
      $("#li_1").addClass("active")
    } else if(loc.indexOf("tech") > -1){
      $("#li_2").addClass("active")
    } else if(loc.indexOf("service") > -1){
      $("#li_3").addClass("active")
    } else if(loc.indexOf("team") > -1){
      $("#li_4").addClass("active")
    } else if(loc.indexOf("contact") > -1){
      $("#li_5").addClass("active")
    }

  });
</script>
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="/"><img class="office-logo" src="/assets/img/company.png" alt="Office"></a>
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul id="menu_top" class="nav navbar-nav pull-right">
      <!-- <li class="active">
        <a href="/">Home</a>
      </li> -->
      <li id="li_1">
        <a href="/about">About</a>
      </li>
      <li id="li_2">
        <a href="/tech">Technology</a>
      </li>
      <li id="li_3">
        <a href="/service">Service</a>
      </li>
      <li id="li_5">
        <a href="/contact"><span>Contact</span></a>
      </li>
      <li id="li_6">
        <a href="/demo"><span>Demo</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->