<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
<!--    <section id="carousel-section" class="section-global-wrapper"> -->
<!--        <div class="container-fluid-kamn">-->
<!--            <div class="row">-->
<!--                <div id="carousel-1" class="carousel slide" data-ride="carousel">-->

<!--                    &lt;!&ndash; Indicators &ndash;&gt;-->
<!--                    <ol class="carousel-indicators visible-lg">-->
<!--                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>-->
<!--                        <li data-target="#carousel-1" data-slide-to="1"></li>-->
<!--                        <li data-target="#carousel-1" data-slide-to="2"></li>-->
<!--                    </ol>-->
<!--        -->
<!--                    &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="carousel-inner" role="listbox">&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; Begin Slide 1 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="item active">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../assets/img/slider/slide2.jpg" height="400" alt="Image of first carousel">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3 class="carousel-title hidden-xs">Office BOOTSTRAP TEMPLATE</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="carousel-body">RESPONSIVE \ MULTI PAGE</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; End Slide 1 &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                        &lt;!&ndash; Begin Slide 2 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../assets/img/slider/slide4.jpg" height="400" alt="Image of second carousel">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3 class="carousel-title hidden-xs">EASY TO CUSTOMIZE</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="carousel-body">BEAUTIFUL \ CLEAN \ MINIMAL</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; End Slide 2 &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                        &lt;!&ndash; Begin Slide 3 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="../assets/img/slider/slide2.jpg" height="400" alt="Image of third carousel">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;                                <h3 class="carousel-title hidden-xs">MULTI-PURPOSE TEMPLATE</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                                <p class="carousel-body">PORTFOLIO \ CORPORATE \ CREATIVE</p>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; End Slide 3 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--        -->
<!--                    &lt;!&ndash; Controls &ndash;&gt;-->
<!--                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">-->
<!--                        <span class="glyphicon glyphicon-chevron-left"></span>-->
<!--                    </a>-->
<!--                    <a class="right carousel-control" href="#carousel-1" data-slide="next">-->
<!--                        <span class="glyphicon glyphicon-chevron-right"></span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Our Mission</h3>
                    <p class="services-header-body"><em> Things we provide in Office </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-android fa-5x"></span></p>
                        <h4 class="services-title">음성인식</h4>
                        <p class="services-body">한글 음성인식 모델 구현</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-apple fa-5x"></i></p>
                        <h4 class="services-title">행동인식</h4>
                        <p class="services-body">개인의 행동을 자동으로 인식할 수 있습니다.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                        <h4 class="services-title">감정인식</h4>
                        <p class="services-body">이미지 상에서 나타나는 개인의 감정을 파악할 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 1 -->

            <!-- Begin Services Row 2 -->
            <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-windows fa-5x"></span></p>
                        <h4 class="services-title">Object Detection</h4>
                        <p class="services-body">영상에 어떤 Object들이 어느 위치에 있는지 인식할 수 있습니다.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-eye fa-5x"></i></p>
                        <h4 class="services-title">자연어 처리</h4>
                        <p class="services-body">자연어 처리를 활용해 텍스트 요약 등을 할 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
